.mh {
  font-weight: bold;
  font-size: 42px;
  background-color: green;
  border: 2px solid black;
  padding: 16px;
  margin: 30px;
  color: white;
  font-family: sans-serif;

}

.cat {
  font-weight: bold;
  color: red;
}
.list {
  column-count: 4;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  font-family: sans-serif;
  font-size: 32px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


#line22 {
  font-weight: bold;
}
